*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Jaro", sans-serif;
}

body {
  background-color: beige;
  
}

h1 {
  text-align: center;
  color: blueviolet;
}

h2 {
  margin-bottom: 50px;
}

/* UTILITIES */

.container-top {
  max-width: 1200px;
  margin: 10px auto;
  text-align: center;
}

.container {
  margin: 10px auto;
  max-width: 1200px;
  border-radius: 12px;  
}

.card{
  color: beige;
  font-size: 1rem;
  background-color: brown;
  width: 350px;
  border-radius: 12px;
  margin: 10px ;
  box-shadow: 4px 10px black;
  text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
  1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black
}

.d-flex{
  display: flex;
}

.d-block{
  display: block;
}

.wrap {
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

/***MAIN*****/

.card img {
  width: 100%;
  border-radius: 12px;
  width: 130px;
  height: 125px;
  padding-right: 10px;
}
.card:hover{
  transition: 0.5s ease;
  transform: translate(2px, 5px);
  box-shadow: none;
}


#anagrafica {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#email {
  display: block;
  margin-top: 5px;
  color: #35BBF2;
}

input {
  display: block;
  color: blueviolet;
  margin: 5px auto;
  width: 100%;
  border-radius: 12px;
  border: none;
  border-bottom: 2px solid black;
  box-shadow: 2px 5px brown;
  }
  
  input#email {
    box-shadow: 2px 5px #35BBF2;
  }

  #buttons {
    width: 100%;
    justify-content: center;
    margin-top: 15px;
  }

  button {
    background-color: blueviolet;
    color: white;
    width:150px;
    height: 40px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 2px 5px brown;
    text-align: center;
    line-height: 100%;
    margin: 0px 10px;
    font-size: 1.5rem;
    text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
    1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black
    
  }

  button:active{
    transition: 0.5s ease;
    transform: translate(2px, 5px);
    box-shadow: none;
  }
  
  ::placeholder {
    color: blueviolet;
  }

/*** MEDIA QUERY ***/

@media (max-width:1109px){
  
  .container-top {
    max-width: 100%;
  }
  .container{
    max-width: 100%;
    justify-content: center;
  }

  #form-container {
    max-width: 700px;
  }
}

@media (max-width:739px){

  #buttons {
    justify-content: space-between;
  }

  button {
    margin: 0;
  }

  #form-container {
    max-width: 350px;
  }
}